.page-content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  padding-top: 1%;
  padding-bottom: 2%;
}

h2, h4{  
  text-align: center;
  color: #fff;
}

.form {
  padding-top: 2%;
  max-width: 100%;
	background: #2e2e36;
  color: #fff;
}

.form-content  {
	background: #19191d;
	max-width: 100%;
	margin: 0 5% 0 5%;
	position: relative;
}

.form-detail {
	max-width: 100%;
	background: #2e2e36;
  color: #fff;
  position: relative;
  display: flex;
  padding-top: 40px;
}

.form-group {
	display: flex;
}

.form-row {
  padding-left: 50px;
  padding-right: 50px;
}

.form-content .form-detail .form-row {
	margin-bottom: 24px;
}

.form-content .form-detail .form .form-group .form-row.form-row-1 {
	max-width: 50%;
  padding-right: 25px;
}

.form-content .form-detail .form .form-group .form-row.form-row-2 {
	width: 50%;
  padding-left: 25px;
}

.form-content .form-detail select,
.form-content .form-detail input {
	width: 100%;
  padding: 11.5px 15px 15px 15px;
  border: 1px solid transparent;
  background: transparent;
  appearance: unset;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.form-content .form-detail select {
	position: relative;
	cursor: pointer;
}

.form-content .form-detail .form select {
	color: #f2f2f2;
}

.form-content .form-detail .form input {
	color: #fff;
}

.form-content .form-detail .form input,
.form-content .form-detail .form select {
	border-bottom: 1px solid;
	border-bottom-color: #fff;
}

.form-content .form-detail .form input:focus,
.form-content .form-detail .form select:focus {
	border-bottom: 1px solid #c4d601;
  box-shadow: inset 0 0 0 100px rgb(0 0 0 / 10%);
  color:#c4d601;
}

.form-content .form-detail .form select option {
	background: #2e2e36;
}


.form-content .form-detail .form .form-row-last {
    padding-left: 60px;
    margin: 30px 0 0;
}
.form-content .form-detail .form .registrar {
	background: #fff;
	border-radius: 25px;
	width: 180px;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;  
  text-transform: uppercase;
  border: 0px solid transparent;
}
.form-content .form-detail .form .registrar:hover {
	box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
  opacity: 1;
  outline: none;
}

.aceptar {
  padding: 12.5px;
  background-color: #c4d601;
  color: #f2f2f2;
  border-radius: 25px;
	width: 180px;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;  
  text-transform: uppercase;
  border: 0px solid transparent;
}

.aceptar:hover {
  box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
  opacity: 1;
  outline: none;
}

.form-content .form-detail .form .form-row-last input {
	padding: 12.5px;
  background-color: #c4d601;
  color: #f2f2f2;

}

.form-content .form-detail .form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f2f2f2;
  font-size: 16px;
  box-shadow: inset 100px rgb(0 0 0 / 20%);
}
.form-content .form-detail .form input::-moz-placeholder { /* Firefox 19+ */
  color: #f2f2f2;
  font-size: 16px;
  box-shadow: inset 100px rgb(0 0 0 / 20%);
}
.form-content .form-detail .form input:-ms-input-placeholder { /* IE 10+ */
  color: #f2f2f2;
  font-size: 16px;
  box-shadow: inset 100px rgb(0 0 0 / 20%);
}
.form-content .form-detail .form input:-moz-placeholder { /* Firefox 18- */
  color: #f2f2f2;
  font-size: 16px;
  box-shadow: inset 100px rgb(0 0 0 / 20%);
}